.accordion .tab-anchor, .accordion .tab-anchor {
    border: 1px solid red;
    display: inline-block;
    width: 100%;
}
.tab-header {
    display: flex;
}
.pools-section .ant-table-content .ant-table-thead{
    display: none;
}
.ant-table-content{overflow: auto;}
.pools-section .ant-table-container{
    width: 100%;
    background: rgb(255, 255, 255);
    border-radius: 16px;
    margin: 16px 0px;
    border: 1px solid rgb(231, 227, 235);
    overflow: hidden;
}
.ant-table {
    border-radius: 18px;
}
.pools-section .ant-table-container .name-img p{
    margin: 0;
    line-height: 30px;
    padding: 0 0 0 10px;
    color: rgb(40, 13, 95);
    font-weight: 600;
    font-size: 16px;
}
.pools-section .ant-table-container .name-img {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
}
.pools-section .ant-table-container .core-icon p{
    margin: 0;
}
.pools-section .ant-table-container .core-icon{
    -webkit-box-align: center;
    align-items: center;
    border-radius: 16px;
    display: inline-flex;
    font-weight: 400;
    white-space: nowrap;
    height: 24px;
    padding: 0px 4px;
    font-size: 12px;
    color: rgb(118, 69, 217);
    background: rgb(250, 249, 250);
    border: 2px solid rgb(118, 69, 217);
}
.dodMCi {
    align-self: center;
    fill: rgb(118, 69, 217);
    flex-shrink: 0;
    margin-right: 0.5em;
}
.pools-section .ant-table-container .earn {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.pools-section .ant-table-container .earn p {
    font-size: 12px;
    color: rgb(122, 110, 170);
    text-align: left;
    margin: 0;
    font-weight: 500;
}
.pools-section .ant-table-container .earn span {
    min-height: 24px;
    width: 100%;
    float: left;
    color: rgb(189, 194, 196);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 600;
}
.pools-section .ant-table-container .months {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.pools-section .ant-table-container .months p {
    font-size: 12px;
    color: rgb(122, 110, 170);
    text-align: left;
    margin: 0;
    font-weight: 500;
}
.pools-section .ant-table-container .months span {
    min-height: 24px;
    width: 100%;
    float: left;
    color: rgb(67 27 149);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 600;
}
.pools-section .ant-table-container .months span .icons{
    margin: -5px 0 0 5px;
}


.pools-section .ant-table-container .liquidity {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.pools-section .ant-table-container .liquidity p {
    font-size: 12px;
    color: rgb(122, 110, 170);
    text-align: left;
    margin: 0;
    font-weight: 500;
    display: inline-block;
    width: 100%;
}
.pools-section .ant-table-container .liquidity span {
    min-height: 24px;
    float: left;
    color: rgb(67 27 149);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 600;
}
.pools-section .ant-table-container .liquidity span .anticon-question-circle{
    margin: 0px 0 0 25px;
}

.pools-section .ant-table-container .multiplier {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.pools-section .ant-table-container .multiplier p {
    font-size: 12px;
    color: rgb(122, 110, 170);
    text-align: left;
    margin: 0;
    font-weight: 500;
    display: inline-block;
    width: 100%;
}
.pools-section .ant-table-container .multiplier span {
    min-height: 24px;
    float: left;
    color: rgb(67 27 149);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 600;
}
.pools-section .ant-table-container .multiplier span .anticon-question-circle{
    margin: 0px 0 0 25px;
}

.ant-table-row-expand-icon {
    color: #fff!important;
    background: #7645d9;
    border: 1px solid #7645d9;
}




.links {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
}
.links a{
    color: rgb(31, 199, 212);
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: fit-content;
    text-decoration:none ;
}
.links a:hover{
    color: rgb(31, 199, 212);
    text-decoration:underline;
}
.links .fJSxMQ {
    align-self: center;
    fill: rgb(31, 199, 212);
    flex-shrink: 0;
    margin-left: 4px;
}

.cake-earn {
    padding: 16px;
    border: 2px solid rgb(238, 234, 244);
    border-radius: 16px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 0px;
}
.cake-earn span{
    color: rgb(118, 69, 217);
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
    padding-right: 4px;
    font-size: 12px;
}
.cake-earn .content{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.cake-earn .h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
    color: rgb(40, 13, 95);
}
.cake-earn .pancake-btn.button--disabled{
    background-color: rgb(233, 234, 235);
    border-color: rgb(233, 234, 235);
    box-shadow: none;
    color: rgb(189, 194, 196);
    cursor: not-allowed;
}
.cake-earn .pancake-btn{
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: rgb(31, 199, 212);
    color: white;
    margin-left: 4px;
}
.start-farming {
    padding: 16px;
    border: 2px solid rgb(238, 234, 244);
    border-radius: 16px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 0px;
}
.start-farming .content{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.start-farming .h2{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.1;
    color: rgb(40, 13, 95);
}
.connect-btn {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: rgb(31, 199, 212);
    color: white;
    width: 100%;
}

.pools-section .d-flex {
    display: flex!important;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.pools-section .ant-form-item {
    margin-bottom: 0;
}
.iZVDFD {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 8px;
}
.khbAo {
    color: rgb(40, 13, 95);
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
}
.iHNZWH {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.khbAo {
    color: rgb(40, 13, 95);
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px;
}
.ljmSfA {
    -webkit-box-align: center;
    align-items: center;
    border-radius: 16px;
    display: inline-flex;
    font-weight: 400;
    white-space: nowrap;
    height: 28px;
    padding: 0px 8px;
    font-size: 14px;
    color: rgb(49, 208, 170);
    background: rgb(250, 249, 250);
    width: 100px;
    border: 2px solid rgb(49, 208, 170);
}
.fHPuPF {
    align-self: center;
    fill: rgb(49, 208, 170);
    flex-shrink: 0;
    margin-right: 0.5em;
}
.jbGbNT {
    padding: 16px;
    border: 2px solid rgb(238, 234, 244);
    border-radius: 16px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 0px;
    margin-bottom: 16px;
}
.bNegPh {
    display: flex;
    font-weight: 500;
}
.jJGrtW {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}
.izhINH:disabled, .izhINH.pancake-button--disabled {
    background-color: rgb(233, 234, 235);
    border-color: rgb(233, 234, 235);
    box-shadow: none;
    color: rgb(189, 194, 196);
    cursor: not-allowed;
}

.izhINH {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    height: 48px;
    padding: 0px 24px;
    background-color: rgb(31, 199, 212);
    color: white;
    margin-left: 4px;
}